.amount-input{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  -webkit-user-select: none;
  user-select: none;


  input{
    width: 60px;
    text-align: center;
    font-size: 16px;
    padding: 7px 20px 7px;
    @include media("<tablet") {
      pointer-events:none;
    }
  }

  &-p,
  &-m{
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 8px;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
  }
  &-p{
    left: auto;
    right: 0;
  }
}