.auth{

  &_modal{
    width: 100%;
  }

  &_modal-tab{

    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: center;

    h2{
      margin-top: 0;
      margin-bottom: $g_padding;
      @include media("<tablet") {

        font-size: 24px;

      }
    }

    input[type="text"]{
      width: 100%;
    }

    button[type="submit"]{
      padding: 12px 8px;
      width: 100%;
      font-weight: 500;
    }

    h3{
      font-size: 20px;
      margin-top: 0;
    }

  }
  &_modal-switch{
    color: #826D5B;
    font-weight: 300;
  }

}