.basket{
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  outline: none !important;

  &_content{

    position: relative;
    display: inline-block;
    width: 30px;
    margin-bottom: 10px;
    &.is-x2{
      width: 35px;
      padding-top: 2px;
      // bottom: -2px;
    }
    &.is-x3{
      width: 40px;
      padding-top: 4px;
      // bottom: -3px;
    }
    &.is-x4{
      width: 45px;
      padding-top: 6px;
      // bottom: -5px;
    }
    &.is-x5{
      width: 50px;
      padding-top: 8px;
      // bottom: -5px;
    }

    &-img{
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      // bottom: 0;
      width: 100%;
      height: 20px;
      // transform: translateX(-50%);
      z-index: 1;

      img{
        // position: relative;
        // left: 50%;
        // top:50%;
        // height: 100%;
        // transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
    &-count{
      position: relative;
      display: block;
      text-align: center;
      width: 100%;
      padding-top: 4px;
      font-size: 14px;
      color: $color4;
      z-index: 1;
    }

  }
  &_sum{
    display: block;
    color: #fff !important;
  }

}