.btn{
  user-select: none;
  white-space: nowrap;

  &.is-small{
    font-size: 14px;
    padding: 8px 20px 10px;
  }
  &.is-disabled,
  &[disabled="disabled"]{
    opacity: .4;
    pointer-events: none !important;
  }

}


.btn-social{
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px;
  background: #fff;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
  outline: none !important;
  .icon{
    text-decoration: none !important;
    font-size: 26px;
  }
  &.is-google{
    background: #0095C1;
    .icon{
      line-height: 1.5em;
      color: #fff;
      padding-right: 2px;
    }
  }
  &.is-vk{
    background: #507299;
    .icon{
      font-size: 29px;
      line-height: 1.8em;
      color: #fff;
      padding-right: 1px;
    }
  }
  &.is-ok{
    background: #ee8208;
    .icon{
      font-size: 29px;
      line-height: 1.65em;
      color: #fff;
      padding-right: 4px;
    }
  }
}