.card{

  padding: $g_padding;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-content: stretch;

  .lyt-grid &{
    max-width: 30%;
    min-width: 320px;
    margin-bottom: $g_padding;
    @include media("<tablet"){
      max-width: 40%;
      min-width: 130px;
      padding: 0;
      margin-bottom: $g_padding*2;
    }
  }

  &_media{
    text-align: center;
    @include media("<tablet"){
      &-img{
        max-width: 100%;
        height: auto;
      }
    }
  }

  &_content{

    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-between;

    &-title{
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;

      @include media("<tablet"){
        font-size: 16px;
      }

    }

    &-text{
      margin-top: 8px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 1.45em;
      font-weight: 300;
      color: $color5;

      @include media("<tablet"){
        font-size: 12px;
      }

    }

    &-controls{
      margin-top: 10px;
      display: flex;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center;

      @include media("<tablet"){
        display: block;

        .amount-input{
          display: none;
        }

      }

    }


  }


  &_control{

    &-price{
      display: inline-block;
      vertical-align: middle;
      min-width: 35%;
      font-size: 20px;
      font-weight: 700;
      .rub{
        font-weight: normal;
      }
      @include media("<tablet"){
        display: block;
      }
    }




    &-submit{
      display: inline-block;
      vertical-align: middle;
      @include media("<tablet"){
        margin-top: 12px;
        padding-top: 12px !important;
        padding-bottom: 14px !important;
      }
    }
  }

}

.card.is-about{

  position: relative;
  text-align: center;
  color: $color4;

  @include media("<tablet"){

    padding-left: 50px;
    text-align: left;
    flex: none;
    max-width: 100%;
    width: 50%;
    min-width: 300px;
    display: inline-block;

    .card_media{
      width: 25px;
      height: 25px;
      position: absolute;
      left: 10px;
      top: 5px;

      &-img{
        width: 100%;
        height: auto;
      }
    }
    .card_content{}
    .card_content-title{
      margin-top: 0;
    }
  }

  .card_content-text{
    color: $color4;
  }

}