.footer{
  width: 100%;
  height: 100%;
  background: #292c35 url(#{$imgPath}footer_bg.png);


  &_content{
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $contentMaxWidth;
    margin: 0 auto;
    padding: $g_padding;

  }

  &_copy{
    color: #ccc;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 300;
  }

  &_social{

  }
}