.form{

  &_row{

    position: relative;

    input{
      padding: 12px 8px;
      font-weight: 100;
    }

    input[type="text"]{
      width: 100%;
      font-family: $ffamily;
      // min-width: 260px;
      // display: block;
    }

    & + .form_row{
      margin-top: $g_padding;
      @include media("<tablet") {
        margin-top: $g_padding / 2;
      }
    }

    &.is-invalid{
      input{
        border-color: $color7 !important;
      }
      .is-invalid-text{
        display: inline-block;
      }
    }

  }

}

.is-invalid-text{
  display: none;
  color: $color7;
  font-size: 12px;
  margin-top: 3px;
}