.header{

  height: 100%;
  background: $color4;
  // margin-top: $userbarHeight;

  @include media("<tablet"){
    margin-top: 0;
  }


//      ##    ##    ###    ##     ##
//      ###   ##   ## ##   ##     ##
//      ####  ##  ##   ##  ##     ##
//      ## ## ## ##     ## ##     ##
//      ##  #### #########  ##   ##
//      ##   ### ##     ##   ## ##
//      ##    ## ##     ##    ###

  &_nav{
    height: $userbarHeight;
    background: #F5F3F3;
    @include media("<tablet"){
      position: absolute;
      transition: all .4s;
      width: 100%;
      height: 100vh;
      left: -100%;
      background: rgba($color4, .95);
      z-index: 10;
      &.is-opened{
        left: 0;
        width:  calc(100% - #{$headerHeight_mob});
      }
    }

    // logo for mobile nav menu
    &-logo{

      display: inline-block;
      margin: $g_padding;
      width: 230px;
      min-height: 70px;
      color: #fff;
      order:3;
      align-self: flex-end;
      background: transparent url('#{$imgPath}logo.svg') left top no-repeat;

      small{
        display: inline-block;
        color: inherit;
        font-size: 14px;
        padding-top: 80px;
        font-weight: 100;
        text-align: left;
      }
    }

    &-trig{
      display: none;
      position: absolute;
      top: 0;
      right: -$headerHeight_mob;
      width: $headerHeight_mob;
      height: $headerHeight_mob;
      outline: none !important;
      cursor: pointer;

      &:before,
      &:after{
        content: '';
        position: absolute;
        top: $headerHeight_mob/3;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $headerHeight_mob - 30;
        height: 2px;
        background: #fff;
        transform-origin: 50% 50%;
        transition: all .4s;
      }

      &:after{
        top: $headerHeight_mob/3 * 2;
        box-shadow: 0 -#{$headerHeight_mob/3/2} 0 rgba(#fff,1);
      }

      // when nav is opened
      .header_nav.is-opened &{
        &:after{
          top: 50%;
          transform: rotate(45deg);
          box-shadow: 0 -#{$headerHeight_mob/3/2} 0 rgba(#fff,0);
        }
        &:before{
          top: 50%;
          transform: rotate(-45deg);
        }
      }

      @include media("<tablet"){
        display: block;
      }
    }


    &-content{

      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row no-wrap;
      justify-content: space-between;
      align-items: center;
      padding: 2px $g_padding;
      max-width: $contentMaxWidth;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 300;
      color: #350b0b;

      @include media("<tablet"){
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
      }


    }

    &-left{
      @include media("<tablet"){
        display: block;
        width: 100%;
        order: 2;
        padding-top: $g_padding;
        .header_nav-link{
          font-size: 14px;
          border: none;
          font-weight: 300;

          &.is-phone{
            font-size: 29px;
            font-weight: 500;
            padding-top: 0;
          }
        }
      }
    }

    &-link{
      outline: none;
      color: inherit;


      @include media("<tablet") {
        display: block;
        padding: $g_padding_mob;
        border-bottom: solid 1px rgba(#4C2725,1);
        width: 100%;
        color: #fff;
        font-size: 20px;
        text-decoration: none !important;
      }
    }


    &-mid{
    }


    &-right{


      @include media("<tablet"){
        display: block;
        width: 100%;
        order: 1;
      }

      .icon{
        margin-right: 5px;
      }

      // &-link{
      //   outline: none;
      //   color: inherit;

      //   @include media("<tablet") {
      //     display: block;
      //     padding: $g_padding_mob;
      //     width: 100%;
      //   }
      // }

    }


  }

//       ######   #######  ##    ## ######## ######## ##    ## ########
//      ##    ## ##     ## ###   ##    ##    ##       ###   ##    ##
//      ##       ##     ## ####  ##    ##    ##       ####  ##    ##
//      ##       ##     ## ## ## ##    ##    ######   ## ## ##    ##
//      ##       ##     ## ##  ####    ##    ##       ##  ####    ##
//      ##    ## ##     ## ##   ###    ##    ##       ##   ###    ##
//       ######   #######  ##    ##    ##    ######## ##    ##    ##

  &_content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: $contentMaxWidth;
    min-width: 320px;
    margin: 0 auto;
    height: $headerHeight;
    color: #fff;
    padding: $g_padding;
    text-align: center;

    .is-sticked &{
      height: $headerHeight_mob;
      padding: 5px $g_padding_mob 5px;
      align-items: center;
    }

    @include media("<=#{$contentMaxWidth}"){
      height: $headerHeight_mob;
      padding: 5px $g_padding_mob 5px;
      align-items: center;
      // next 3 is animation relative styles:
      transform: scale(1);
      opacity: 1;
      transition: all .4s;
    }




    &-left,
    &-right{
      flex: 1;
      display: flex;
      min-width: -webkit-min-content;
    }
    &-right{
      justify-content: flex-end;
    }

    // when mobile menu is opened
    .header_nav.is-opened + &{
      transform: scale(.8);
      opacity: 0;
      pointer-events: none;
    }

  }

  &_contacts{

    display: inline-block;
    text-align: left;

    @include media("<tablet"){
      display: none;
    }

    &-item{

      color: inherit;
      text-decoration: none;
      font-weight: 500;
      font-size: 32px;
      white-space: nowrap;
      display: block;
      outline: none !important;
      cursor: default;

      &:hover,&:focus{
        color: inherit;
      }
      .is-sticked &{
        font-size: 20px;
      }
      @include media("<=#{$contentMaxWidth}"){
        font-size: 20px;
      }

    }

    &-link{
      display: inline-block;
      color: $color1;
      outline: none !important;
      margin-top: 5px;
      font-size: 14px;
      font-weight: 100;

      .is-sticked &{
        display: none;
      }
      @include media("<=#{$contentMaxWidth}"){
        display: none;
      }
    }

  }



  &_logo{

    display: inline-block;
    width: 215px;
    min-height: 70px;
    outline: none !important;
    text-decoration: none;
    color: inherit;
    background: transparent url('#{$imgPath}logo.svg') center top no-repeat;


    small{
      display: inline-block;
      color: #fff !important;
      font-size: 14px;
      padding-top: 80px;
      font-weight: 100;
      text-align: center;
    }
    .is-sticked &{
      width: 80px;
      min-height: 45px;
      margin-top: 3px;
      order: 1;
      background: transparent url('#{$imgPath}logo_mob.svg') center top no-repeat;

      small{
        display: none;
      }
    }
    @include media("<=#{$contentMaxWidth}"){

      width: 80px;
      min-height: 45px;
      margin-top: 3px;
      order: 1;
      background: transparent url('#{$imgPath}logo_mob.svg') center top no-repeat;

      small{
        display: none;
      }
    }

  }



  &_basket{

    display: inline-block;
    // min-width: 30%;
    text-align: right;
    color: inherit;

    @include media("<=#{$contentMaxWidth}"){
      order: 3;
      min-width: auto;
    }

  }

}