$heroHeight: 500px;
$navWidth: 45px;
$navHeight: 90px;

.hero{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  // height: $heroHeight;
  overflow: hidden;
  position: relative;
  text-align: center;
  min-width: 320px;

  @include media("<=tablet") {
    height: 330px;
  }
  @include media("<=#{$contentMaxWidth}") {
    align-items: flex-end;
  }

  &_slide{

    position: absolute;
    top: 0; left: 0; right: 0;
    width: 100%;
    visibility: hidden;
    font-size: 0;

    &:before{
      content: '';
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color4, .3);
      z-index: 1;
      @include media("<=#{$contentMaxWidth}") {
        background: rgba($color4, .5);
      }
    }

    &-img{
      width: 100%;
      height: auto;
    }

    &-text{
      position: absolute;
      width: 50%;
      max-width: ($contentMaxWidth/2) - ($navWidth + $g_padding + 10px);
      top: 50%;
      left: 50%;
      color: #fff;
      font-weight: 700;
      text-align: left;
      z-index: 1;

      @include media("<=#{$contentMaxWidth}") {
        padding: $g_padding_mob*3 $g_padding_mob 0;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-title{
      margin: 0;
      font-size: 40px;
      line-height: 1.2em;
      margin-bottom: 20px;
      @include media("<=#{$contentMaxWidth}") {
        font-size: 30px;
        margin-bottom: 15px;
      }
    }

    &-price{
      display: inline-block;
      vertical-align: middle;
      font-size: 32px;

      .rub{
        font-weight: normal;
      }
      @include media("<=#{$contentMaxWidth}") {
        display: block;
        font-size: 24px;
      }
    }

    &-btn{
      font-size: initial;
      margin-left: $g_padding;
      vertical-align: middle;
      @include media("<=#{$contentMaxWidth}") {
        margin-left: 0;
        margin-top: $g_padding_mob;
      }
    }

  }

  &_bullet{

    display: none;
    position: relative;
    font-size: .75em;
    width: 1em;
    height: 1em;
    margin: -22px 5px 10px;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    order: 2;
    appearance: none;
    border: none;
    border-radius: 1em;
    background: transparent;
    box-shadow: inset 0 0 0 1px #fff;
    transition: .3s ease-out background, .3s ease-out transform;
    z-index: 100;

    @include media("<=#{$contentMaxWidth}") {
      display: inline-block;
    }

    &:checked {

      background: #fff;
      outline: none;
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      transform: scale(1.3);

      & + .hero_slide {
        position: relative;
        visibility: visible;
        order: 1;

        @include media("<=tablet"){
          position: absolute;
          top: 0;bottom: 0;

          .hero_slide-img{
            position: absolute;
            top: 0; bottom: 0; left: 50%;
            transform: translateX(-50%);
            margin: auto;
            height: 100%;
            width: auto;
          }
        }

      }
    }


  }

  &_nav{

    position: absolute;
    display: block;
    top: 20%;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: $navHeight;
    width: $navWidth;
    font-size: initial;
    z-index: 3;
    cursor: pointer;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba($color4,.8);
    transition: all .2s;

    &:hover{

      background: rgba($color4, 1);

    }

    @include media("<=#{$contentMaxWidth}") {
      display: none;
    }

    &:after {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 35px;
      right: 15px;
      border: 1px solid;
      border-color: #fff #fff transparent transparent;
      transform: rotate(45deg);
    }

    &-left{

      right: 50%;
      margin-right: $contentMaxWidth/2 - $navWidth - $g_padding;

      &:after{
        transform: rotate(-135deg);
        right: auto;
        left: 15px;
      }

    }

    &-right{

      right: auto;
      left: 50%;
      margin-right: 0;
      margin-left: $contentMaxWidth/2 - $navWidth - $g_padding;

    }


  }



}