.modal{

  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  @include media("<tablet") {
    overflow: hidden;
  }

  &_backdrop{
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 100%;
    background: rgba($color4, .8);
    z-index: 999;
  }
  &_wrap{

    position: relative;
    width: 420px;
    min-height: 200px;
    margin: 10vh auto;
    background: #fff;

    @include media("<tablet") {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      min-height: auto;
      overflow: auto;
    }

  }
  &_section{

    width: 100%;
    padding: $g_padding $g_padding*2;

    @include media("<tablet") {

      padding: $g_padding_mob $g_padding_mob;

    }

    &:first-child{
      padding-top: $g_padding*2;
    }
    & + .modal_section{
      border-top: 1px solid #E0DAD6;
    }

  }
  &_close{
    position: absolute;
    top: $g_padding / 2;
    right: $g_padding / 2;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.1em;
    display: block;
    width: 35px;
    height: 35px;
    color: #C1B6AD;
    cursor: pointer;
    transition: .2s all;
    user-select: none;

    &:hover{
      color: #826D5B;
    }

  }
}

body.has-modal{
  position: relative;
  overflow: hidden;
}