.orderform{


  margin: 0 $g_padding;

  @include media("<laptop") {
    padding: 0;
    border: none;
    margin: 0 $g_padding_mob/2;
  }




  .checkbox, .radio{
    display: inline-block;
    min-height: 40px;
    padding-top: 8px;
  }

  &_content{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-content: stretch;

    padding: $g_padding $g_padding;
    border: 1px solid #E0DAD6;



    @include media("<laptop") {
      flex-wrap: wrap;
      flex-direction: column;
      // padding-left: 90px;
      border: 1px solid #E0DAD6;
    }

    @include media("<tablet"){
      padding: 0;
    }

    &-col{

      width: 33.33%;
      padding: $g_padding*2;

      @include media("<laptop") {
        width: 100%;
        padding: $g_padding_mob;

        & + .orderform_col{
          padding-top: 0;
        }
      }


      h3{
        font-size: 20px;
        margin-bottom: $g_padding;
      }

    }
  }

  &_footer{
    padding: $g_padding 0;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
  }

}