.orderlist{

  &_row{

    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: flex-start;

    & + .orderlist_row{
      border-top: 1px solid #E0DAD6;

      @include media("<laptop") {

        margin-top: $g_padding_mob;

      }
    }

    @include media("<laptop") {
      position: relative;
      flex-wrap: wrap;
      padding-left: 90px;
      border: 1px solid #E0DAD6;
    }
  }

  &_cell{
    padding: $g_padding;
    vertical-align: top;

    @include media("<laptop"){
      padding: $g_padding_mob;
    }

    &.is-img{

      padding-right: 0;

      @include media("<laptop"){
        position: absolute;
        top: $g_padding_mob;
        left: $g_padding_mob;
        padding: 0;
      }

      img{

        height: auto;
        width: 70px;

      }

    }

    &.is-description{

      flex-grow: 1;

      @include media("<laptop") {
        padding-bottom: 0;
      }

      h3{
        margin-top: 0;
        margin-bottom: 10px;
      }

      p{
        font-size: 14px;
        color: #826D5B;
        font-weight: 300;
      }

    }

    &.is-amount{

      @include media("<laptop") {
        padding-top: 0;
      }

    }

    &.is-price{

      font-size: 20px;
      font-weight: 700;
      .rub{
        font-weight: normal;
        font-size: 18px;
      }
      @include media("<laptop") {
        padding-top: 0;
      }

    }

    &.is-remove{

      text-align: right;
      padding-right: 0;

      div{

        cursor: pointer;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        line-height: 0.7em;
        display: block;
        width: 25px;
        height: 25px;
        color: #C1B6AD;
        cursor: pointer;
        transition: .2s all;
        user-select: none;

        &:hover{
          color: #826D5B;
        }

      }

      @include media("<laptop"){
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0;
      }

    }

  }

}