.radio{
  font-family: $ffamily;
  display: block;
  cursor: pointer;
  user-select:none;
  text-align: left;
  &+.radio{
    margin-top: 7px;
  }
  input{
    display: none;
    &+span{
      display: inline-block;
      position: relative;
      padding-left: 40px;
      padding-top: 5px;
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        border: none;
        background: #e0dad6;
      }
      &:after{
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        background: #826d5b;
        position: absolute;
        border-radius: 50%;
        top: 8px;
        left: 8px;
        opacity: 0;
        transform: scale(0,0);
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1);
    }
  }
}