.modal_backdrop
.modal
  .modal_wrap[ng-switch on="tabType"]
    .modal_close[ng-click="close()"] &times;
    .auth_modal
      .auth_modal-tab[ng-switch-when="login"]
        .modal_section
          h2 Вход
          form.form
            .form_row
              input[placeholder="Ваш мобильный телефон" type="text"]
            .form_row
              input[placeholder="Ваш пароль" type="text"]
            .form_row
              button.btn[type="submit"] Войти
            .form_row
              a[href="#" ng-click="switchTab('recover')"] Забыли пароль?
        .modal_section
          h3 Войти через
          a.btn-social.is-google[social-login="google" href="#"]
            i.icon.icon_google
          a.btn-social.is-vk[social-login="vk" href="#"]
            i.icon.icon_vk
          a.btn-social.is-ok[social-login="ok" href="#"]
            i.icon.icon_ok
        .modal_section
          span.auth_modal-switch
            ' Первый раз на сайте?
            a[href="#" ng-click="switchTab('register')"] Зарегистрируйтесь
      .auth_modal-tab[ng-switch-when="register"]
        .modal_section
          h2 Регистрация
          form.form
            .form_row
              input[placeholder="Ваш мобильный телефон" type="text"]
            .form_row
              input[placeholder="Ваш пароль" type="text"]
            .form_row
              button.btn[type="submit"] Войти
            .form_row
              | Нажимая кнопку «Продолжить» 
              br
              ' вы принимаете
              a[href="#"] Условия соглашения
        .modal_section
          h3 Зарегистрироваться через
          a.btn-social.is-google[social-login="google" href="#"]
            i.icon.icon_google
          a.btn-social.is-vk[social-login="vk" href="#"]
            i.icon.icon_vk
          a.btn-social.is-ok[social-login="ok" href="#"]
            i.icon.icon_ok
        .modal_section
          span.auth_modal-switch
            ' Уже зарегистрированны?
            a[href="#" ng-click="switchTab('login')"] Войдите
      .auth_modal-tab[ng-switch-when="recover"]
        .modal_section
          h2 Восстановление пароля
          form.form
            .form_row
              input[placeholder="Ваш мобильный телефон" type="text"]
            .form_row
              button.btn[type="submit"] Отправить новый пароль
        .modal_section
          span.auth_modal-switch
            ' Уже зарегистрированны?
            a[href="#" ng-click="switchTab('login')"] Войдите