.lyt-content[ng-controller="basketCtrl"]
  h2.h-tac Корзина

  .lyt-panel[ng-if="basket.length > 0"]
    .orderlist
      .orderlist_row[ng-repeat="item in basket"]
        .orderlist_cell.is-img
          img[alt="" ng-src="/i/products/{{item.img}}"]
        .orderlist_cell.is-description
          h3
            | {{item.title}}
          p
            | {{item.text}}
        .orderlist_cell.is-amount
          label.amount-input
            input[type="text" ng-model="item.amount" name="{{item.id}}" readonly="readonly"]
            span.amount-input-p[ng-click="modifyOrderCount('+', item)"] +
            span.amount-input-m[ng-click="modifyOrderCount('-', item)"] -
        .orderlist_cell.is-price
          | {{item.price * item.amount}}
          span.rub руб.
        .orderlist_cell.is-remove
          div[ng-click="removePosition(item)"] &times;

  .lyt-panel_footer[ng-if="basket.length > 0"]
    .orderlist_total
      ' Сумма заказа:
      span.lyt-panel-sum
        ' {{orderSum}}
        span.rub руб.
      button.lyt-panel-submit.btn[ng-click="orderForm()"] Оформить заказ
  div[ng-if="basket.length === 0"]
    .lyt-panel
      .orderlist
        h3.h-tac
          ' В корзине пока пусто
        p.h-tac
          ' вернуться
          a[href="/"] на главную