div[ng-controller="orderCtrl"]
  .lyt-content[ng-if="basket.length > 0"]
    h2.h-tac Оформление заказа
    form.orderform[name="orderForm" novalidate]
      .orderform_content
        .orderform_content-col
          h3 Личные данные
          .form_row[ng-class="{'is-invalid' : orderForm.userName.$invalid && !orderForm.userName.$pristine}"]
            input[type="text" name="userName" ng-model="orderData.name" placeholder="Имя" ng-minlength="3" required ng-class="{'is-invalid': userName.$invalid}"]
            span.is-invalid-text Введите ваше имя
          .form_row[ng-class="{'is-invalid' : orderForm.userPhone.$invalid && !orderForm.userPhone.$pristine}"]
            input[type="text" name="userPhone" ng-model="orderData.phone" ui-mask="+7 (999) 999 99 99" ui-mask-placeholder="+7 (___) ___ __ __" autocomplete="off" required]
            span.is-invalid-text Укажите номер телефона
        .orderform_content-col
          h3 Адрес доставки
          .form_row
            input[type="text" ng-model="orderData.address" placeholder="Улица, дом, кв." ng-required="!orderData.userAddressByPhone"]
          .form_row
            label.checkbox
              input[type="checkbox" ng-model="orderData.userAddressByPhone" ]
              span Сообщить менеджеру по телефону
        .orderform_content-col
          h3 Способ оплаты
          .form_row
            label.radio
              input[name="payment" type="radio" ng-model="orderData.paymentType" value="cash" ng-value="cash"]
              span Наличными или картой курьеру
          .form_row
            label.radio
              input[name="payment" type="radio" ng-model="orderData.paymentType" value="card"]
              span Картой онлайн

      .orderform_footer
        ' Сумма заказа:
        span.lyt-panel-sum
          ' {{orderSum}}
          span.rub руб.
        button.lyt-panel-submit.btn[ng-click="prepareOrder(orderData)" ng-disabled="!orderForm.$valid" type="submit"] Оформить заказ

    / .lyt-panel_footer[ng-if="basket.length > 0"]

  / if empty basket
  .lyt-content[ng-if="basket.length === 0"]
    h2.h-tac Оформление заказа
    .lyt-panel
      .orderlist
        h3.h-tac
          ' Добавьте что-нибудь в корзину чтобы оформить заказ
        p.h-tac
          ' вернуться
          a[href="/"] на главную