*,
*:before,
*:after{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  position: relative;
  font-family: $ffamily;
  font-weight: 300;
  min-height: 100vh;
  min-width: 320px;
  padding-bottom: $footerHeight + $g_padding*3;
}


button{
  border: none;
  color: #fff;
  outline: none !important;
  font-size: 20px;
  font-weight: 700;
  font-family: $ffamily;
  padding: 15px 25px 17px;
  border-radius: 5px;
  background: $color1;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);

  &:focus,
  &:hover{
    background-color: $color2;
  }

  &:active{
    background-color: $color3;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.2);
  }
}

input{
  border: 1px solid #c1b6ad;
  border-radius: 5px;
  padding: 7px 14px 7px;
  font-family: $ffamily;

  &:focus{
    outline: none !important;
    border-color: $color6;
  }
}

h2{
  font-size: 40px;
  font-family: $ffamily;
  margin: $g_padding*2 0;
  @include media("<=tablet"){
    font-size: 30px;
    margin: $g_padding_mob 0;
  }
}

a{
  color: $color1;
  font-family: $ffamily;
  &:focus,
  &:hover{
    color: $color6;
  }
}


// helper classes
.h-tac{
  text-align: center;
  font-family: $ffamily;
}

.is-hidden{
  display: none !important;
}
.is-visible-mob{
  display: none !important;
}

@include media("<tablet") {
  .is-hidden-mob{
    display: none !important;
  }
  .is-visible-mob{
    display: initial !important;
  }
}

