@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }

  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face('Museo', '#{$fontsPath}museo-sans/museosans_100', 100, normal);
@include font-face('Museo', '#{$fontsPath}museo-sans/museosans_300', 300, normal);
@include font-face('Museo', '#{$fontsPath}museo-sans/museosans_500', 500, normal);
@include font-face('Museo', '#{$fontsPath}museo-sans/museosans_700', 700, normal);

@include font-face('OpenRouble', '#{$fontsPath}openrouble/OpenRouble-Regular', normal, normal);
@include font-face('OpenRouble', '#{$fontsPath}openrouble/OpenRouble-Bold', bold, normal);
@include font-face('OpenRouble', '#{$fontsPath}openrouble/OpenRouble-Light', 100, normal);
.rub {
    font-family: "OpenRouble", 'Trebuchet MS', sans-serif;
}