.lyt{

  &-header{

    width: 100%;
    z-index: 101;

    &.is-sticked{
      position: fixed;
      left: 0;
      top: -$userbarHeight;
      @include media("<tablet"){
        top: 0;
      }
      & + .lyt-view{
        display: block;
        // padding-top: $headerHeight+$userbarHeight;

        @include media("<laptop"){
          // padding-top: $headerHeight_mob;
        }
      }
    }
  }



  &-panel{

    margin: 0 $g_padding;
    padding: $g_padding $g_padding*3;
    border: 1px solid #E0DAD6;

    @include media("<laptop"){
      padding: $g_padding;
    }

    @include media("<laptop") {
      padding: 0;
      border: none;
      margin: 0 $g_padding_mob;
    }

    &_footer{
      padding: $g_padding;
      text-align: right;
      font-size: 14px;
      font-weight: 700;
    }

    &-small{
      margin-right: $g_padding;

      @include media("<tablet"){
        font-size: 12px;
      }
    }
    &-sum{
      font-size: 32px;
      font-weight: 700;
      margin: 0 0 0 $g_padding;
      .rub{
        font-size: 30px;
        font-weight: normal;
      }
      @include media("<tablet"){
        font-size: 20px;
        margin: 0 0 0 $g_padding_mob;
        .rub{
          font-size: 19px;
        }
      }
    }
    &-submit{
      display: inline-block;
      vertical-align: super;
      margin-left: $g_padding*2;
      @include media("<tablet"){
        margin-top: $g_padding_mob;
      }
    }

  }


  &-content{

    width: 100%;
    max-width: $contentMaxWidth;
    margin: 0 auto;



  }

  &-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;

    @include media("<=#{$contentMaxWidth}") {
      justify-content: center;
    }

    @include media("<tablet") {
      padding: 0 $g_padding_mob;
      justify-content: space-around;
    }

    @include media("<=phone") {
      justify-content: space-between;
      // justify-content: center;
    }

    &.is-centric{
      justify-content: center;
      // padding: 0;
    }

    & + .lyt-grid{
      margin-top: $g_padding * 3;
    }
  }

  &-footer{
    position: absolute;
    left: 0;bottom: 0;
    height: $footerHeight;
    width: 100%;
    margin-top: $g_padding*3;
  }

}