$breakpoints: (phone: 320px, tablet: 768px, laptop: 1024px, desktop: 1440px);
$ffamily: 'Museo', sans-serif;
// $ffamily: 'Museo', sans-serif;
$fontsPath: '/css/fonts/';
$imgPath: '../i/layout/';
$g_padding: 25px;
$g_padding_mob: 20px;
$contentMaxWidth: 1165px;
$userbarHeight: 30px;
$headerHeight: 147px;
$headerHeight_mob: 65px;
$footerHeight: 110px;

$color1: #ff4f00;
$color2: #ff841c;
$color3: #d94300;
$color4: #350b0b;
$color5: #826D5B;
$color6: #ffb937;
$color7: #ff6d6d;


@mixin clearfix() {
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}